<html>
   <body>
	  <center>
	  	<h2> Enter The URL</h2>
	  	<form action = "shorted_urls", method = "post">
	  	  <input type = "text",  value = "", name = "original_url" />
	  	  <input type= "submit",  value = "Submit"> 
	    </form>
	    <h2> VIEW ALL The URLS</h2>
	    <p><%= link_to "Create short url", shorted_urls_path %></p>
	  </center>
   </body>
 </html>
